# LaTeX midlertidige filer
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb
*.bcf
*.run.xml

_minted-*/

# PDF (hvis du ikke vil uploade den)
*.pdf

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Python / minted cache
__pycache__/
.pygments/

# Mac / Windows
.DS_Store
Thumbs.db
